body {
  transition: background-color 0.5s ease;
}

body.light {
  --bg-color: #f0f2f5;
  --text-color: #000;
  --primary-color: #1890ff;
}

body.dark {
  --bg-color: #282828;
  --text-color: #FFFFFF;
  --primary-color: #404040;
}

body, .todo-board, .todo-list, .todo-form, .settings-dropdown {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.ant-btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}


.todo-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 1em;
  min-height: 100vh;
}

.todo-list {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.todo-form .ant-input {
  margin-right: 0.5em;
}

.todo-form .ant-btn {
  margin-left: 0.5em;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: none;
}

.settings-dropdown {
  position: fixed;
  top: 20px;
  right: 20px;
  color: var(--text-color) !important;
}

.ant-dropdown-menu-item > a {
  color: var(--text-color) !important;
}







