* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-bg-color: #f0f0f0;
  --light-text-color: #333;
  --dark-bg-color: #333;
  --dark-text-color: #f0f0f0;
  --primary-color: #1890ff;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  transition: background-color 0.5s ease;
}


body.light {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

body.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.todo-board,
.todo-list,
.todo-form,
.settings-dropdown {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.ant-btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.todo-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
  gap: 1em;
  min-height: 50vh;
  max-width: 1300px;  /* Adjust this value based on your design requirements */
  margin: 0 auto;
}

.new-list-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0px; /* Adjust as needed */
}


.todo-list {
  width: 400px;  /* Fixed width */
  margin: 0 10px;  /* Horizontal margin */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.settings-dropdown {
  position: fixed;
  top: 10px;
  right: 10px;
  color: var(--text-color) !important;
}

.ant-dropdown-menu-item > a {
  color: var(--text-color) !important;
}

/* Add some padding and border to the form input */
.ant-input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

/* Add some styling to the cards */
.ant-card {
  border-radius: 8px;
}

.ant-card-head {
  font-size: 1.25em;
  font-weight: bold;
}

/* Add some space between card content and actions */
.ant-card-body {
  margin-bottom: 1em;
}








